/* Custom Styles */

/* ---------------- Profile */
.description {
    font-size: .5rem;
    padding-right: 10px;
}

.profile-image {
    background: url("../assets/img/profile-img.jpeg") no-repeat top center/cover;
    border-radius: 100px;
}

@media screen and (min-width: 540px) {
    .description {
        font-size: 1.2rem;
    }
   
}